# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg/
.eggs/
.coverage
.python-version
*.swp

# Database
*.db
*.sqlite3
*.sqlite3-*

# Environment
.env
.env.*

# Build outputs
dist/
build/
html/

# Temp / debug files
pylint_output.txt

# IDE files
.vscode/
.idea/

# Node
node_modules/
package-lock.json
frontend/node_modules/
frontend/dist/
